$black:#000;
$green:#00c194;
$white:#fff;
$text-color:#70778a;
$bold-color:#212121;
$button-background:#eaf7f4;
$large-screen-width: 1580px;
$laptop-screen-width: 1240px;
$ipad-pro-width: 1024px;
$phone-width: 767px;
$small-phone-width: 640px;
